<h1>Träningsapparat</h1>
<div>
    <button (click)="randomAlien()">Svenska -> Infödda</button>
    <button (click)="randomNative()">Infödda -> Svenska</button>
</div>
@if (alien || native) {
    <div class="top-margin">
        {{correctAnswers}}: {{incorrectAnswers}}
    </div>
    <div class="top-margin">
        @if (alien) {
        <div class="block">
            {{alien}}
        </div>
        }
        @if (native) {
        <div class="block">
            {{native}}
        </div>
        }
        <div class="block">
            <input
                id="answerInput"
                (keydown.enter)="answerGiven()"
                [(ngModel)]="answer"
            />
        </div>
        <div class="block" [class.red]="status  ==='incorrect'" [class.green]="status==='correct'">
            {{status}}
        </div>
        @if (!status && !help) {
            <button (click)="helpFunction()">Help!</button>
        }
        @if (status || help) {
            <div class="block">
                {{correctAnswer}}
            </div>
        }
    </div>
}
<div class="top-margin">
    <list-comp  (wordListChanged)="wordListChanged($event)"></list-comp>
</div>
